body {
	font-family: 'Montserrat';
}

a {
	text-decoration-line: none;
	color: #0366d6;
}

a:hover {
	text-decoration-line: underline;
}

.seriftext {
	font-family: 'IBM Plex Serif' !important;
	font-size: 18px;
}

.serifheading {
	font-family: 'IBM Plex Serif' !important;
	font-weight: normal;
}

.wrap {
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.flex-horizontal {
	display: flex;
	flex-direction: row;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-pic {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#sidebar {
	max-width: 400px;
}

#social-links {
	justify-content: space-between;
	width: 100%;
}

#social-links div {
	justify-content: space-between;
	margin-top: 10px;
}

#discord {
	margin-bottom: 10px;
	justify-content: flex-start !important;
	width: 100%;
}

#discord span {
	margin-top: 2px;
	margin-left: 5px;
}

.project {
	max-height: 200px;
	max-width: 300px;
}

.project h2,
h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.project .flex-horizontal {
	justify-content: space-between;
}

.project .flex-horizontal span {
	margin-top: 3px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#toggle {
	margin-top: 20px;
}

#resume {
	margin-left: 15px;
}

.part {
	max-width: 900px;
}

.part div li {
	display: block;
}

.part h3 {
	margin: 0;
}

.part h4 {
	margin: 0;
}

.part div {
	align-items: center;
}
